@model MovieVote.Db.Movie
@using MovieVote.Extensions
<div class="movie" id="@Model.Id">
    @if (ViewBag.HideUpvote is null or false)
    {
        <div class="upvote">
            <img class="upvote-button" src="/images/upvote.svg" alt="Upvote button" onclick="upvote(this.parentElement.parentElement)">
            <div class="upvote-counter">0</div>
        </div>
    }
    <div class="movie-box styled-box">
        <img class="poster" src="@Model.Poster.Or("images/missing.png")"
             alt="@Model.Title.Or("Movie") poster">

        <div class="movie-title">
            @Model.Title.Or("Unknown")
            @if (Model.ReleaseDate != null)
            {
                <span class="movie-year">(@Model.ReleaseDate.Value.Year)</span>
            }
            else
            {
                <span class="movie-year">(unknown)</span>
            }
        </div>
        <div class="movie-description">
            @if (Model.Overview != null)
            {
                @Model.Overview
            }
            else
            {
                <i style="color: dimgray">Description unavailable</i>
            }
        </div>
    </div>
</div>